* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

#navbar {
  background-color: #1A0B2E;
  max-width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
}

.navbar {
  color: #FFFFFF;
}

.navbar-a ul {
  display: flex;
  list-style: none;
  gap: 32px;
}

.navbar-a ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1rem;
}

#banner {
  max-width: 100%;
  width: 100%;
  background-image: url(../images/hero-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  border: 1px solid #1A0B2E;
}

.banner-content {
  text-align: center;
  margin: 80px 525px;
}

.banner-content img {
  background-repeat: no-repeat;
  background-image: url(../images/hero-circle.png);
  background-position: center;
  padding: 78px 116px 91px 116px;
}

.banner-content h2 {
  color: #FFFFFF;
  margin-top: 40px;
  font-size: 60px;
  font-weight: 800;
}

.banner-content p {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 24px;
}


#about {
  width: 100%;
  max-width: 1600px;
  width: 70%;
  margin: 0 auto;
}

.about-container{
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 80px;
}

.about-container h1{
  font-size: 48px;
  font-weight: bold;
  margin-top: 50px;
  color: #FFFFFF;
}

.about-container p{
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  margin-top: 16px;
  line-height: 20px;
}

.rating{
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(4, 1fr);
}

.rating-content{
  margin-top: 80px;
  margin-bottom: 120px;
}

.rating h1{
  font-size: 48px;
  color: #00FF88;
  text-align: center;
}

.rating p{
  font-size: 16px;
  color: #627382;
  text-align: center;
  margin-top: 16px;
}


@media screen and (max-width:576px) {
  #navbar {
    display: none;
  }

  #banner{
    display: none;
  }

  #about{
    width: 95%;
  }

  .about-container{
    width: 100%;
  }
  .about-container h1{
    font-size: 32px;
  }

  .rating{
     margin: 40px 20px;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .rating-content{
   margin: 0;
  }
}