* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 1600px;
}

.btn {
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 40px;
  border: none;
  color: #FFFFFF;
  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}

.btn2 {
  padding: 15px;
  border-radius: 40px;
  border: 1px solid #00FF88;
  color: #00FF88;
  background: none;
}

/* .btn2:hover{
  background-color: #FB09B4;
} */

#navbar {
  background-color: #1A0B2E;
  max-width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;

}

.navbar h1 {
  color: #FFFFFF;
}

.navbar span {
  color: #FB09B4;
}

.navbar-a ul {
  display: flex;
  list-style: none;
  gap: 32px;
}

.navbar-a ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1rem;
}

#banner {
  max-width: 100%;
  width: 100%;
  background: url(../images/hero-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  border: 1px solid #1A0B2E;
}

.banner-content {
  text-align: center;
  margin: 80px 525px;
}

.banner-content img {
  background-repeat: no-repeat;
  background: url(../images/hero-circle.png);
  background-position: center;
  padding: 78px 116px 91px 116px;
}

.new-text {
  width: 75px;
  height: 38px;
  padding: 8px 16px;
  background: #00FF88;
  border-radius: 20px;
  position: relative;
  position: absolute;
  top: 25%;
  right: 38%;
  box-shadow: 0 3px 27px 0px #00ff887c;
}


.banner-content h2 {
  color: #FFFFFF;
  margin-top: 40px;
  font-size: 60px;
  font-weight: 800;
}

.banner-content p {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 24px;
}


#about {
  width: 100%;
  max-width: 1600px;
  width: 70%;
  margin: 0 auto;
}

.about-container {
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 80px;
}

.about-container h1 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 50px;
  color: #FFFFFF;
}

.about-container p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  margin-top: 16px;
  line-height: 20px;
}

.rating {
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(4, 1fr);
}

.rating-content {
  margin-top: 80px;
  margin-bottom: 120px;
}

.rating h1 {
  font-size: 48px;
  color: #00FF88;
  text-align: center;
}

.rating p {
  font-size: 16px;
  color: #627382;
  text-align: center;
  margin-top: 16px;
}

#choose {
  /* width: 100%; */
  max-width: 1600px;
  width: 70%;
  margin: 0 auto;
}

#choose h1 {
  font-size: 48px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.headfhone h3 {
  font-size: 24px;
  margin-top: 16px;
  font-weight: bold;
  margin-left: 20px;
  color: #FFFFFF;
}

.headfhone p {
  font-size: 16px;
  margin-top: 16px;
  color: #627382;
  margin-left: 20px;
}

.headfhone img {
  margin-top: 107px;
  margin-left: 20px;
}

.headfhone {
  grid-area: headfhone;
  background-color: #351165;
  justify-content: centers;
  border-radius: 40px;
  width: 380px;
  height: 480px;
}

/* hedphone responsive */

.headfhone:hover{
  transform: scale(1.04)
}

.mobile h3 {
  font-size: 24px;
  margin-top: 16px;
  font-weight: bold;
  margin-left: 40px;
  color: #FFFFFF;
}

.mobile p {
  font-size: 16px;
  margin-bottom: 40px;
  margin-top: 16px;
  color: #627382;
  margin-left: 40px;
}

.mobile img {
  margin-top: 40px;
  margin-left: 40px;
}

.mobile {
  grid-area: mobile;
  background-color: #351165;
  justify-content: centers;
  border-radius: 40px;
  width: 720px;
}

.mobile:hover{
  transform: scale(1.04)
}

.global h3 {
  font-size: 24px;
  margin-top: 16px;
  font-weight: bold;
  margin-left: 40px;
  color: #FFFFFF;
}

.global p {
  font-size: 16px;
  margin-bottom: 40px;
  margin-top: 16px;
  color: #627382;
  margin-left: 40px;
}

.global img {
  margin-top: 40px;
  margin-left: 40px;
}


.global {
  grid-area: global;
  background-color: #351165;
  justify-content: centers;
  border-radius: 40px;
  width: 720px;
}

.global:hover{
  transform: scale(1.04)
}

.exclusive h3 {
  font-size: 24px;
  margin-top: 16px;
  font-weight: bold;
  margin-left: 40px;
  color: #FFFFFF;
}

.exclusive p {
  font-size: 16px;
  margin-bottom: 40px;
  margin-top: 16px;
  color: #627382;
  margin-left: 40px;
}

.exclusive img {
  margin-top: 40px;
  margin-left: 40px;
}

.exclusive {
  grid-area: exclusive;
  background-color: #351165;
  justify-content: centers;
  border-radius: 40px;
  width: 720px;
  height: 280px;
}

.exclusive:hover{
  transform: scale(1.04)
}

.rich h3 {
  font-size: 24px;
  margin-top: 16px;
  font-weight: bold;
  margin-left: 40px;
  color: #FFFFFF;
}

.rich p {
  font-size: 16px;
  margin-top: 16px;
  color: #627382;
  margin-left: 40px;
  margin-bottom: 40px;
}

.rich img {
  margin-top: 40px;
  margin-left: 40px;
}

.rich {
  grid-area: rich;
  background-color: #351165;
  justify-content: centers;
  border-radius: 40px;
  width: 380px;
  height: 280px;
}

.rich:hover{
  transform: scale(1.04)
}

.grid-responsive {
  display: grid;
  margin-bottom: 120px;
  gap: 30px;
  margin-top: 40px;
  grid-template-areas:
    "headfhone mobile mobile"
    "headfhone global global"
    "exclusive exclusive rich";
}

#video {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

.featured h1 {
  font-size: 48px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}

.video {
  display: flex;
  margin-top: 40px;
  margin-left: 70px;
  justify-content: center;
  gap: 30px;
}

.video-content1 {
  display: flex;
  flex-direction: column;
  background-color: #351165;
  border-radius: 9px;
  overflow: hidden;
}

.titel {
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.titel h3 {
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
}

.titel p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #627382;
  margin-top: 10px;
}

.timer {
  display: flex;
  gap: 6px;
  margin-top: 12px;
  align-items: center;
  width: 80px;
  height: 24px;
  margin-bottom: 24px;
}

.timer p {
  margin-bottom: 10px;
}

.timer img {
  width: 20px;
  height: 20px;
}

.host {
  max-width: 1600px;
  width: 70%;
  margin: 0 auto;
}

.host h2 {
  font-size: 48px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  margin-top: 120px;
}

.host-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 280px;
  margin-top: 40px;
  border-radius: 20px;
  background-color: #351165;
}

.image img {
  margin: 40px 0 40px 40px;
}

.content h3 {
  font-size: 38px;
  font-weight: bold;
  color: #FFFFFF;
}

.content p {
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  margin-right: 40px;
  margin-top: 16px;
}

.socil {
  display: flex;
  gap: 10px;
  align-items: center;
  /* border: 1px solid black; */
}

.socil-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  border: 1px solid #533C72;
}

.socil-image img {
  align-items: center;
  padding: 10px;
}

#footer {
  background-image: url(../images/footer-bg.png);
  background-size: cover;
}

.footer {
  max-width: 1600px;
  width: 70%;
  margin: 0 auto;
  padding: 120px;
}

.footer-content {
  justify-content: center;
  align-items: center;
  margin-left: 145px;

}

.footer-content h1 {
  text-align: center;
  color: #FFFFFF;
  font-size: 60px;
  font-weight: 800;
}

.join-us {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.join-us a {
  text-decoration: none;
  font-size: 16px;
  color: #FFFFFF;
}

.footer-content p {
  color: #FFFFFF;
  margin-top: 32px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.menu {
  display: none;
}


/* responsiv section */
@media screen and (max-width:576px) {
  .navbar {
    width: 90%;
  }

  .menu {
    display: inline;
  }

  .navbar-a {
    display: none;
  }

  .button {
    display: none;
  }

  #banner {
    background-size: cover;
  }

  .banner-text{
    width: 100%;
  }

 .banner-content {
  margin: 0;
 }

 .new-text{
  left: 78%;
  top: 17%;
 }

  #about {
    width: 95%;
  }

  .about-container {
    width: 100%;
  }

  .about-container h1 {
    font-size: 32px;
  }

  .rating {
    margin: 40px 20px;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .rating h1 {
    font-size: 40px;
  }

  .rating p {
    font-size: 13px;
    font-weight: 800;
  }


  .rating-content {
    margin: 0;
  }

  #choose {
    margin: 0;
    width: 100%;
  }

  #choose h1 {
    font-size: 28px;
    font-weight: 600;
  }

  .grid-responsive {
    grid-template-areas:
      "headfhone"
      "mobile"
      "global"
      "exclusive"
      "rich";
  }

  .headfhone {
    height: 280px;
    width: 90%;
    border-radius: 20px;
    margin: 0 auto;
  }

  .headfhone img {
    margin-top: 24px;
    margin-left: 24px;
  }

  .headfhone h3 {
    font-size: 18px;
    margin-left: 24px;
  }

  .headfhone p {
    font-size: 15px;
    margin: 24px;
    margin-bottom: 24px;
  }

  .mobile {
    width: 380px;
    width: 90%;
    border-radius: 20px;
    margin: 0 auto;
  }

  .mobile h3 {
    margin-left: 0;
  }

  .mobile p {
    margin-left: 0;
  }

  .mobile img {
    margin-left: 0;
  }

  .global {
    max-width: 380px;
    width: 90%;
    border-radius: 20px;
    margin: 0 auto;

  }

  .global img {
    margin-left: 0;
  }

  .global h3 {
    margin-left: 0;
  }

  .global p {
    margin-left: 0;
  }

  .exclusive {
    max-width: 380px;
    width: 90%;
    height: 100%;
    border-radius: 20px;
    margin: 0 auto;
  }

  .exclusive img{
    margin-left: 0;
  }

  .exclusive h3{
    margin-left: 0;
  }

  .exclusive p{
    width: 90%;
    text-align: center;
    margin-left: 9px;
  }

  .rich {
    width: 90%;
    border-radius: 20px;
    margin: 0 auto;
    height: auto;
  }

  .rich img{
    margin-left: 0;
  }

  .rich h3{
    margin-left: 0;
  }

  .rich P{
    margin-left: 0;
  }

  #video {
    width: 100%;
  }

  .video {
    flex-direction: column;
    margin: 0 auto;
  }

  .video-content1 {
    width: 95%;
    margin: 0 auto;
  }

  .featured h1 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .host {
    width: 95%;
  }

  .host h2 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .host-container {
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
  }

  .image img {
    margin: 40px;
  }

  .content {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .content h3 {
    font-size: 24px;
    text-align: center;
  }

  .content p {
    text-align: center;
    margin: 0;
    margin: 10px;
  }

  .socil {
    justify-content: center;
  }

  #footer {
    background-size: cover;
    position: absolute;

  }

  .footer {
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 40px;
  }

  .footer-content {
    margin: 0;
  }

  .footer-content h1 {
    font-size: 40px;
    font-weight: 600;
  }

  .footer-content p {
    font-size: 10px;
    margin-top: 20px;
  }

  .join-us {
    gap: 15px;
    margin-top: 20px;
  }

  .join-us a {
    position: relative;
    text-align: center;
  }
}